body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    width: 480px;
    margin: auto;
    text-align: center;
}
#dice{
    width: 80px;
    height: 80px;
    font-size: 60px;
    font-weight: bolder;
    border-radius: 12px;
    border: 1px solid royalblue;
    color: royalblue;
    margin: 60px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.animate-dice{
    animation-name: roll;
    animation-duration: 1s;
}
@keyframes roll{
    from{}
    to{
        transform: rotate(360deg);
    }
}




.btn{
    padding: 16px 30px;
    border:none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
}