body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card{
    height: 300px;
    width: 240px;
    border-radius: 14px;
    background-color: lightgray;
    margin: 50px auto;
}

.container{
    width: 400px;
    margin: 80px auto;
}
input{
    width: 100%;
    padding: 15px;
    border: 1px solid lightgray;
    font-size: 16px;
    border-radius: 14px;
    box-sizing: border-box;
    margin-bottom: 12px;
}
.btn{
    padding: 16px 30px;
    font-size: 16px;
    border: none;
    color: white;
    border-radius: 12px;
    cursor: pointer;
    background-color: black;
}
#data{
    margin-top: 40px;
    color: red;
}
.input-success{
    border: 1px solid green;
    
}
.input-danger{
    border: 1px solid red;
}