@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
   
}
.hero-img{
    position: absolute;
    z-index: 0;
    width: 100%;
    object-fit: cover;
    transform: scale(1.2);
}
.tint{
    background: rgb(0 0 0 / 40%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}
.hero-content{
    width: 900px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

}
.navbar{
    position: relative;
    width: 900px;
    margin: auto;
    z-index: 1;
    padding: 12px 4rem;
}
nav{
    display: flex;
    /* width: 990px; */
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.logo-link{
    margin-top: 10px;
}
.nav-flex{
    display: flex;
    gap: 8px;
    font-size: 14px;
}
.ln-btn{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.945);
    border: 1px solid rgba(255, 255, 255, 0.71);
    padding: 4px 16px;
    
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 6px;
}
.login-btn{
    background-color: red;
    padding: 4px 16px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 4px;
}

.hero-title{
    font-size: 3.5vmax;
    font-weight: 700;
}
.hero-subtitle{
    font-weight: 500;
}
.hero-desc{
font-size: 18px;
}

input{
    padding: 16px;
    border-radius: 4px;
    font-size: 18px;
    border:1px solid rgb(123, 123, 123);
    background-color: rgba(0, 0, 0, 0.737);
    width: 70%;
    color: rgb(255, 255, 255);
}
.start-btn{
    width: 30%;
    background-color: red;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 800;
    color: white;
    display: flex;
    align-items: center;
    gap: 4px;
}
.hero-flex{
    display: flex;
    justify-content:center;
    gap: 8px;   
    width: 600px;
    margin: auto;
}
input:focus{
    outline: none;
    border:1px solid white;
}
section{
    background-color: black;
    border-bottom: 8px solid rgb(37, 37, 37);
}
.container{
    padding: 5vmax 0;
    background-color: black;
    color: white;
    width: 900px;
    margin: auto;
    display: flex;
    align-items: center;

}
.l-box{
    width: 50%;
}
.r-box{
    width: 50%;
    overflow: hidden;
}
.title{
    font-size: 3vmax;
    font-weight: 800;
}
.desc{
    font-size: 1.725vmax;
}
.tv{
    position: relative;
}
.tv-img{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.tv-video{
    height: 100%;
    width: 100%;
    transform: scale(.9);
    position: absolute;
    top: 0%;
    left: 5%;
    overflow: hidden;
}